@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" href="/lib/AmazeUI-2.7.2/css/amazeui.css"/>
<script src="/lib/jquery-3.3.1.js"></script>
<script src="/lib/AmazeUI-2.7.2/js/amazeui.js"></script>
<script src="/lib/AmazeUI-2.7.2/js/amazeui.widgets.helper.js"></script>


<div class="am-container">

    <h1>成都市第五人民医院医疗监管服务平台</h1>

    <form action="" method="post" class="am-form am-u-sm-4">
        <div class="am-form-group">
            <label for="empno">HIS工号</label>
            <input type="text" name="empno"/>
        </div>
        <div class="am-form-group">
            <label for="password">密码</label>
            <input type="password" name="password"/>
        </div>
        <button type="submit" class="am-btn am-btn-default">登陆</button>
        <label id="errmsg"></label>
    </form>
</div>

<footer>
    <br/>
    <div class="am-container">
        信息科，医疗三监管办公室 -- 提供支持 -- 2018
    </div>

</footer>